<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>作成確認</title>
</head>
<body>

    <h2>所持キャラの追加</h2>
    <form action="/character_create" method="POST">
    <table>
        <tr><th>項目</th><th>入力</th></tr>
        
        <tr><td>キャラクター名</td><td><input type="text" name="name" required></td></tr>
        <tr><td>武器</td><td><input type="text" name="weapon" required></td></tr>
        <tr><td>チェイン数</td><td><input type="number" name="chain"  required></td></tr>
        <tr><td>共鳴音骸</td><td><input type="text" name="sound" required></td></tr>
        <tr><td>HP</td><td><input type="number" name="H" min="0" required></td></tr>
        <tr><td>攻撃力</td><td><input type="number" name="A" min="0" required></td></tr>
        <tr><td>防御力</td><td><input type="number" name="B" min="0" required></td></tr>
        <tr><td>会心率 (%)</td><td><input type="number" name="C_H" required></td></tr>
        <tr><td>会心ダメージ (%)</td><td><input type="number" name="C_D" required></td></tr>
        <tr><td>チャージ効率 (%)</td><td><input type="number" name="charge" required></td></tr>
        <tr><td>属性効果 (%)</td><td><input type="number" name="effect" required></td></tr>
        <tr><td>通常攻撃Lv</td><td><input type="number" name="usual"  required></td></tr>
        <tr><td>スキルLv</td><td><input type="number" name="skill"  required></td></tr>
        <tr><td>回路Lv</td><td><input type="number" name="circuit"  required></td></tr>
        <tr><td>解放Lv</td><td><input type="number" name="release"  required></td></tr>
        <tr><td>変奏Lv</td><td><input type="number" name="variation"  required></td></tr>

    </table>
        <input type="submit" values="追加">
    </form>

    <a href="/character">キャンセル（一覧に戻る）</a>
</body>